@charset "UTF-8";

/*estilos do main - section banner*/

/*banner 01*/
.banner__01 {
  background-image: url("../../assets/img/banner01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.bannertitle__01 {
  font-size: 10rem;
  justify-content: center;
  color: white;
  font-family: "Quicksand";
  font-weight: bold;
  margin-top: 5vw;
}

.bannertext__01 {
  display: flex;
  font-size: 3rem;
  width: 80vw;
  text-align: center;
  justify-content: center;
  color: white;
  font-family: "Quicksand";
  padding: 5vh 0;
}

/*banner 02*/

.banner02 {
  background-image: url("../../assets/img/banner02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.banner03 {
  background-image: url("../../assets/img/banner03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 5vw 0 5vw;
}

.container__endereco {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  /*estilos do main - section banner*/
  /* Banner 01*/

  .banner__01 {
    background-image: url("../../assets/img/banner01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bannertitle__01 {
    font-size: 4rem;
    justify-content: center;
    color: black;
    font-family: "Quicksand";
    font-weight: bold;
    margin-top: 5vh;
  }

  .bannericons__01 {
    display: flex;
    flex-direction: row;
  }

  .icone {
    width: 10vh;
    margin: 15vh 5vw 0 5vw;
  }

  .bannertext__01 {
    display: flex;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    color: black;
    font-family: "Quicksand";
    width: 85vw;
  }

  .contato__container {
    display: flex;
    flex-direction: row;
  }

  .contato__container a {
    text-decoration: none;
  }

  .contatotext {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    color: black;
    font-family: "Quicksand";
    margin: 3vw 6vw 0 6vw;
  }

  /* Banner 02*/

  .banner__02 {
    background-image: url("../../assets/img/banner02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 40vw;
    margin: 5vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bannertitle__02 {
    font-size: 4rem;
    justify-content: center;
    color: white;
    font-family: "Quicksand";
    font-weight: bold;
    text-align: center;
    margin-top: 2vh;
  }

  .container__endereco {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5vh 0 5vh 0;
  }

  .bannericons__02 {
    display: flex;
    flex-direction: row;
  }

  .bannertext__02 {
    display: flex;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: "Quicksand";
    margin: 0 0 0 5vw;
  }

  /* Banner 03*/

  .banner__03 {
    background-image: url("../../assets/img/banner03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 35vw;
    margin: 5vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bannertitle__03 {
    font-size: 4rem;
    justify-content: center;
    color: white;
    font-family: "Quicksand";
    font-weight: bold;
    text-align: center;
    margin: 5vh 0 0 0;
  }

  .container__servicos {
    display: flex;
    flex-direction: row;
    margin: 5vh 0 0 0;
  }

  .box__servicos {
    width: 20vw;
    margin: 5vh 5vw 0 5vw;
  }

  .servicotitle {
    font-size: 2.5rem;
    justify-content: center;
    color: white;
    font-family: "Quicksand";
    font-weight: bold;
    text-align: center;
    margin-top: 2vh;
  }

  .servicotext {
    font-size: 1rem;
    justify-content: center;
    color: white;
    font-family: "Quicksand";
    text-align: center;
    margin-top: 2vh;
  }
}
